html,
body {
	background-color: #d2f6c5;
}
footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer p {
	margin-bottom: .25rem;
}

.bg-green-adp {
	background-color: #28df99;
}
.bg-lightgreen-adp {
	background-color: #d2f6c5;
	min-height: 100vh;
}
.bg-page {
	background-color: #d2f6c5;
}
.bg-footer {
	background-color: #b1d1a5;
}
.bg-none {
	background-color: #28df99;
}
.bg-dark-adp {
	background-color: #17b87a;
	border-color: #0f9260;
}
.bg-dark-adp:hover {
	border-color: #0f9260;
	background-color: #0f9260;
}
.color-dark {
	fill: #343a40;
	cursor: pointer;
}
.contenedor {
	/* background-repeat: none; */
	background-color: white;
	background-position: center;
	min-height: 400px;

}
.custom-btn-size {
	height: 31px;
	width: 100%;
}

.bton:hover {
	text-decoration: none;
	background-color: #17b87a;
	border-color: white;
}

.bg-primario {
	background-color: #17b87a !important;
}

.text-black {
	color: black !important;
}
	

.text-green {
	color: #0f9260 !important;
}

.jumbotrn {
	padding: 1rem 1rem;
	margin-bottom: 0rem;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0.3rem;
}
.icono {
	width: 40px;
	height: 40px;
}
.foto {
	width: 100%;
	border-radius: .25rem .25rem 0 0;
}
.foto-container { 
	
	overflow: hidden;
/*	height: 225px; */
	width: 100%;
	height: auto;
}

@supports(object-fit: cover){
    .foto-container img{
      height: 225px;
      object-fit: cover;
      object-position: center center;
    }
}


.foto-container:hover .foto {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	transition: all .5s ease-in-out;
}

.radius {
	border-radius: 5px;
}

.text-detalles{
	color: rgb(138, 23, 184);
	text-shadow: 1px 1px rgb(0, 0, 0);
	font-family: 'Helvetica', cursive;
  	
}


