{% extends "base.html" %}

{% block content %}
{%load static%}
<main role="main">
  <div class="album py-5 contenedor_publicaciones">
    <div class="container">

      <div class="row">
        {% if publicaciones %}
        {% for p in publicaciones %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="{{p.id}}">
              {% if p.foto.url == "SOME STRING" %}
              <img class="imagen" src="{{p.foto.url}}"/>
              {% else %}
              <img class="imagen" src="{% static 'nofoto.png' %}"/>
              {% endif %}
            </a> 
            <div class="card-body">
              <p>{{p.descripcion}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{p.id}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver Mas</button>
                  </a> 
                </div>
                  <small><p>{{p.fecha.date}}</p></small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
          <p>No se encontro nada</p>
          <img src="{% static 'ptriste.jpg' %}" width="500px" height="500px" >
        {% endif %}
        </div>
      </div>
    </div>
  </div>

</main>

{%endblock%}